html {
    font-size: 1em;
    line-height: 24px;
    background-color: #1276D6;
}

header {
    max-width: 8em;
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding-bottom: 4em;
    vertical-align:auto;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}
h2 {
    text-align: center;
    font-size: 2.369rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/*NAVIGATION*/

nav {
    font-size: 1.5em;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    background-color: #336799;
}

.currentPage {
    font-size: 3em;
    line-height: 24px;
    background-color: #415B73;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.headerImage {
    display: inline-block;
    height: auto;
    max-width: 5%;
    vertical-align: middle;
}
/*.nav-list {
}*/

.nav-list li {
    float: left;
    width: 33.33%;
    list-style-type: none;
}

.nav-list a {
    display: block;
    text-align: center;
    padding: 1em 1em;
    background-color: #336799;
    color: white;
    text-decoration: none;
}

.nav-list a:hover {
    background-color: #415B73;
}

img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    width: 100%;
}

#logo {
    width: auto;
    height: 192px;
}

@media screen and (min-width: 650px){
    .nav-list {
        float: right;
    }
}