html {
    font-size: 1em;
    line-height: 24px;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    padding-bottom: 4em;
}

h2 {
    font-size: 2.369rem;
}


nav {
    position: absolute;
}

.nav-list {

}

.nav-list li {
    float: left;
    width: auto;
    list-style-type: none;
}

.nav-list a {
    display: block;
    text-align: center;
    padding: 1em 1em;
    background-color: lightgray;
}